result_data/*
*/__pycache__
.idea/*
*.png
*.pkl
waymo_open_dataset_/*
test_set/*
valid_set/*
*.pth
output/*
data_set/*
data_output/*
data_output*/*

*.log
investigate/*
output_big_run_10x/*
output*/*
show_results*/*
cond_show_results*/*
old_things/*